body {
    font-family: sans-serif;
}

a {
    color: #1abc9c;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: bold;
}

a:hover {
    color: #16a085;
    text-decoration: underline;
}

span {
    font-size: 1.5rem;
    color: #1abc9c;
    font-style: italic;
}

::-webkit-scrollbar {
    width: 10px;
    /* Ширина вертикальной полосы */
    height: 10px;
    /* Высота горизонтальной полосы */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Цвет трека */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #1abc9c;
    /* Основной зеленый цвет */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #16a085;
    /* Темно-зеленый при наведении */
}